.activities img {
  height: 70px;
  background-color: #b5e2fa;
  border-radius: 50%;
  padding: 10px;
}

.activities img:hover {
  transform: scale(1.1);
}

.activeStatus {
  scale: 1.2;
  margin-bottom: 10px;
  background-color: #0fa3b1 !important;
}

img {
  cursor: pointer;
}
