.dateInput {
  width: 30%;
}

.noteInput {
  height: 70px;
}

.noteInput:focus {
  outline: none !important;
  border: 1px solid #2a8387;
  box-shadow: 0 0 5px #2a8387;
}

.interviewClass {
  padding: 50px 30px 50px 30px;
  border-radius: 30px;
  background-color: #f9f7f3;
}

.addMoodBtn {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

span {
  color: red;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}
